flows/api.json
[{"id":"b3030403.4cfcf8","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"90eec3b.f6f114","type":"http in","name":"Get Light Status","url":"/lightstatus","method":"get","x":263,"y":207,"z":"f4ebe71a.0b1418","wires":[["c5a49a7e.3a5b68"]]},{"id":"c5a49a7e.3a5b68","type":"function","name":"Return Status Object","func":"context.global.lightstatus = context.global.lightstatus || \"0\"; \nmsg.payload = {lightstatus: context.global.lightstatus};\nreturn msg;","outputs":1,"x":486,"y":206,"z":"f4ebe71a.0b1418","wires":[["c6f5c2f0.390a4"]]},{"id":"c6f5c2f0.390a4","type":"http response","name":"Status Response","x":702,"y":207,"z":"f4ebe71a.0b1418","wires":[]},{"id":"4585f6a3.ba7a08","type":"http in","name":"Light Switch","url":"/lightswitch","method":"post","x":223,"y":337,"z":"f4ebe71a.0b1418","wires":[["2bce4cfb.d431b4","306dd762.cf9228"]]},{"id":"32bf2b66.cd40d4","type":"http response","name":"Send Response","x":1084,"y":329,"z":"f4ebe71a.0b1418","wires":[]},{"id":"2bce4cfb.d431b4","type":"function","name":"Map Input JSON to On/Off","func":"context.global.lightstatus = msg.req.body.newlightstate;\nmsg2 = msg;\nmsg.payload = msg.req.body.newlightstate;\nmsg2.payload = {opcode: context.global.lightstatus};\nreturn [ msg, msg2 ];\n","outputs":"2","x":456,"y":338,"z":"f4ebe71a.0b1418","wires":[["347adb6e.cb8524"],["fbd67cb7.04298"]]},{"id":"347adb6e.cb8524","type":"function","name":"Return Status Object","func":"msg.payload = {lightstatus: context.global.lightstatus};\nreturn msg;","outputs":1,"x":784,"y":262,"z":"f4ebe71a.0b1418","wires":[["32bf2b66.cd40d4","f4790b8a.0b86f8"]]},{"id":"f4790b8a.0b86f8","type":"debug","name":"Debug","active":false,"console":"false","complete":"true","x":1057,"y":396,"z":"f4ebe71a.0b1418","wires":[]},{"id":"306dd762.cf9228","type":"debug","name":"","active":true,"console":"false","complete":"true","x":406,"y":392,"z":"f4ebe71a.0b1418","wires":[]},{"id":"fbd67cb7.04298","type":"mqtt out","name":"Send UH Control Message","topic":"pi/uhcontrol","qos":"","retain":"","broker":"b3030403.4cfcf8","x":802,"y":340,"z":"f4ebe71a.0b1418","wires":[]}]
