flows/directcontrol.json
[{"id":"b3030403.4cfcf8","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"b1a6cd2d.4e593","type":"inject","name":"White","topic":"","payload":"{\"opcode\": \"1\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":167,"y":190,"z":"3b105071.c4efb","wires":[["f47e057d.0b81f8"]]},{"id":"f47e057d.0b81f8","type":"mqtt out","name":"UC Control","topic":"pi/uhcontrol","qos":"","retain":"","broker":"b3030403.4cfcf8","x":644,"y":265,"z":"3b105071.c4efb","wires":[]},{"id":"8d5854.ff72a7b","type":"inject","name":"Off","topic":"","payload":"{\"opcode\": \"0\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":163,"y":120,"z":"3b105071.c4efb","wires":[["f47e057d.0b81f8"]]},{"id":"ba1a48e2.45e5b8","type":"inject","name":"Red","topic":"","payload":"{\"opcode\": \"2\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":167,"y":230,"z":"3b105071.c4efb","wires":[["f47e057d.0b81f8"]]},{"id":"58744b0c.a78bb4","type":"inject","name":"End UHControl","topic":"","payload":"{\"opcode\": \"99\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":177,"y":589,"z":"3b105071.c4efb","wires":[["f47e057d.0b81f8"]]},{"id":"ed0bb109.12f45","type":"inject","name":"Orange","topic":"","payload":"{\"opcode\": \"3\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":167,"y":268,"z":"3b105071.c4efb","wires":[["f47e057d.0b81f8"]]},{"id":"f50fd706.0af028","type":"inject","name":"Green","topic":"","payload":"{\"opcode\": \"4\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":168,"y":304,"z":"3b105071.c4efb","wires":[["f47e057d.0b81f8"]]},{"id":"a7a8f553.585708","type":"inject","name":"F1 Start","topic":"","payload":"{\"opcode\": \"50\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":159,"y":520,"z":"3b105071.c4efb","wires":[["f47e057d.0b81f8"]]},{"id":"94d6d9a6.6b2928","type":"inject","name":"Start Pulse","topic":"","payload":"{\"opcode\": \"40\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":164,"y":370,"z":"3b105071.c4efb","wires":[["f47e057d.0b81f8"]]},{"id":"9246f974.6db908","type":"inject","name":"End Pulse","topic":"","payload":"{\"opcode\": \"41\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":160,"y":415,"z":"3b105071.c4efb","wires":[["f47e057d.0b81f8"]]}]
